button {
    background-color: transparent;
    border: none;
}

button.flashlight-button {
    width: 48%;
    line-height: 5px;
    filter: invert(1);
}

button.flashlight-button:disabled {
    filter: invert(0.505);
}

button.flashlight-button img {
    width: 50px;
}

#submit-batteries {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 20px;
}

#submit-batteries:disabled {
    color: gray;
    border-color: gray;
}

/* Result buttons. */
.result .result-correct, .result .result-wrong {
    display: none;
}

.result .result-correct h3 {
    color: #23ff23;
}

.result .result-wrong h3 {
    color: #dd2e44;
}

.result button.reset-game {
    color: white;
    font-size: 3ex;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 20px;
}

.result button.reset-game:before {
    content: url(../media/reset.svg);
    width: 20px;
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}
