button {
    background-color: transparent;
    border: none;
}

button.flashlight-button {
    width: 48%;
    line-height: 5px;
    filter: invert(1);
}

button.flashlight-button:disabled {
    filter: invert(0.5);
}

button.flashlight-button img {
    width: 75px;
}
