header {
    text-align: center;
}
p, li {
    font-size: 2em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 5ex;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 6px #fff;
}
