body {
    font-family: sans-serif;
}

header {
    text-align: center;
}
p, li {
    font-size: 2em;
}
h1 {
    font-size: 3em;
    margin-bottom: 5px;
}
h2 {
    font-size: 5ex;
    text-transform: uppercase;
}
h3 {
    font-size: 4ex;
}
h2 + p, h3 + p {
    font-size: 3ex;
}

.glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 6px #fff;
}

details.instructions summary {
    font-size: 3ex;
}

details.instructions div {
	border: 1px solid white;
	border-radius: 10px;
	padding: 0 20px;
    margin: 0 10px;
}

details.instructions p, details.instructions li {
    font-size: 1em;
    text-align: left;
}

details.instructions img {
    width: 15px;
    filter: invert(1);
}
